---
 const personalImageAlt = "Miguel Angel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      I am a <strong>passionate and detail-oriented web developer</strong> with a rounded understanding of computer behavior,
      from hardware to software development. My <strong>dedication to continuously learning</strong>
      about new web development trends and concepts has made me a valuable team member.
    </p>

    <p>
      With experience in <strong>customer service and IT background</strong> that allow me to
      communicate and understand technical requirements which can help <strong>customers modernize their
      websites and appeal to expanding customer populations</strong>.
    </p>

    <p>
      Proficient in modern web technologies including <strong>HTML5, CSS3, JavaScript</strong>>, and frameworks such as <strong>Wordpress,
      Tailwind, Bootstrap</strong> With knowledge in <strong>Python, SQL and PHP</strong> that help in the development of website's backend structure.
      Additionally, <strong>I have contributed to open source project by improving SEO, adding essential features and fixing bugs.</strong>
    </p>
  </div>

  <img width="200" height="200" src="/me.webp" loading="lazy" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>