---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "2024 - Intership",
    title: "Wordpress developer",
    company: "Kayman",
    description:
      "In charge of designing, developing and maintaining the official website. Applied security measurements for the liability and availability. Implemented SEO techniques and keywords placing",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
